body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.start-button {
    position: absolute;
    top: 62%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(128, 0, 128, 0.7); /* 紫色背景 */
    color: white; /* 白色文字 */
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}